<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="student-list">
        <mat-form-field class="mb-3">
          <input matInput (input)="applyFilter($event)" placeholder="Search Student">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>


        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let student"> <img src={{image}} width="30"> </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let student"> {{ student.firstName }} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let student"> {{ student.lastName }} </td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
            <td mat-cell *matCellDef="let student"> {{ student.mobile }} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let student"> {{ student.email }} </td>
          </ng-container>

          <ng-container matColumnDef="nic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NIC </th>
            <td mat-cell *matCellDef="let student"> {{ student.nic }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let student; columns: displayedColumns;" (click)="selectStudent(student)"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[8, 15, 20]" showFirstLastButtons></mat-paginator>

        <div *ngIf="dataSource.data.length === 0" class="empty-state">
          No students found.
        </div>
      </div>
    </div>
    <div class="col" *ngIf="selectedStudent">
      <app-student-details *ngIf="selectedStudent" [student]="selectedStudent" (updateStudent)="onUpdateStudent($event)"
        (deleteStudentEvent)="onDeleteStudent($event)" (closeDetails)="closeStudentDetails()"></app-student-details>
    </div>
  </div>
</div>